.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}
.logo {
    width: 160px;
    height: 160px;
    img {
        width: 100%;
    }
}
.navContent {
    padding: 0px 20px;
    margin-top: auto;
    margin-bottom: auto;
    ul {
        display: flex;
        li {
            margin-left: 15px;
            list-style:none;
        }
    }

}
.res-list{
    display: flex;
    flex-wrap: wrap;
}
.restaurant {
    width: 400px;
    padding: 4px;;
    margin: 5px;
    padding: 2px;
}

.restaurant:hover {
border: 1px solid black;
}

.res-img {
    width: 100%;
}